<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.examapplication">

    <!-- General permission -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />


    <!-- Dangerous Permission STORAGE category -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Otp SMS Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".utility.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateVisible|adjustResize">
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.LandingStudentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.DemoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.SendToLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.CreateExamActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.LandingFacultyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activities.StudentListActivity">
        </activity>
        <activity android:name=".ui.activities.FilterActivity">
        </activity>
        <activity android:name=".ui.activities.EditProfileActivity">
        </activity>
        <activity android:name=".ui.activities.MyExamActivity">
        </activity>
        <activity android:name=".ui.activities.MySubmittedExam">
        </activity>
        <activity android:name=".ui.activities.NotificationActivity">
        </activity>
        <activity android:name=".ui.activities.DemoActivity2">
        </activity>
    </application>

</manifest>